<a href="https://colab.research.google.com/github/dafeng097/info5731/blob/master/solution_classwork2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class work 2 (Solution)

In this class work, you will try to do **Exploratory Data Analysis** with Pandas.

## Data Preperation

Please run the following lines of codes, to get source data.

In [0]:
!wget https://github.com/wshuyi/info-5731-public/raw/master/winemag-data-130k-v2.csv.zip

--2019-02-19 22:16:16--  https://github.com/wshuyi/info-5731-public/raw/master/winemag-data-130k-v2.csv.zip
Resolving github.com (github.com)... 192.30.253.112, 192.30.253.113
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wshuyi/info-5731-public/master/winemag-data-130k-v2.csv.zip [following]
--2019-02-19 22:16:16--  https://raw.githubusercontent.com/wshuyi/info-5731-public/master/winemag-data-130k-v2.csv.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17180932 (16M) [application/zip]
Saving to: ‘winemag-data-130k-v2.csv.zip.1’

winemag-data-130k-v 100%[===================>]  16.38M  91.8MB/s    in 0.2s

2019-02-19 22:16:16 (91.8 MB/s) - ‘winemag-data-130k-v2.csv.zip.1’ saved [17180932/17180932]

In [0]:
!unzip winemag-data-130k-v2.csv.zip

Archive:  winemag-data-130k-v2.csv.zip
replace winemag-data-130k-v2.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

## Questions

5 points for each question, and full score is 100.

**Question 1.** The data file is stored in csv format and named "winemag-data-130k-v2.csv ". Please read it into a Pandas dataframe, and name the dataframe as "reviews". Make sure the first column should be "country", instead of a **"unnamed"** one. Display the first 5 rows.

In [0]:
# TODO: your code here

In [0]:
import pandas as pd

In [0]:
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0); reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

**Question 2.** What is the data type of the `points` column in the dataset?

In [0]:
# TODO: your code here

In [0]:
dtype = reviews.points.dtype; dtype

dtype('int64')

**Question 3.** Select the `description` column from `reviews` and assign the result to the variable `desc`. Show the first 5 rows of `desc`.

In [0]:
# TODO: your code here

In [0]:
desc = reviews.description; desc.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

**Question 4.** what type of object is `desc`?

In [0]:
# TODO: your code here

In [0]:
type(desc)

pandas.core.series.Series

**Question 5.** Select the first value from the description column of `reviews`, assigning it to variable `first_description`. Show the content of `first_description`.

In [0]:
# TODO: your code here

In [0]:
first_description = reviews.description.loc[0]; first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

**Question 6.** Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`. Show the content of `first_row`.

In [0]:
# TODO: your code here

In [0]:
first_row = reviews.iloc[0]; first_row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

**Question 7.** Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`. Show the content of `first_descriptions`. (Hint: format your output as a `pandas` `Series`.)

In [0]:
# TODO: your code here

In [0]:
first_descriptions = reviews.description.iloc[:10]; first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

**Question 8.** Select the records with index labels `1`, `2`, `4`, `5`, and `7`, assigning the result to the variable `sample_reviews`. Show first 5 rows of `sample_reviews`.

In [0]:
# TODO: your code here

In [0]:
sample_reviews = reviews.iloc[[1, 2, 4, 5, 7], :]; sample_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach

**Question 9.** Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 2, 20, and 200. Show the content of df.

In [0]:
# TODO: your code here

In [0]:
df = reviews.loc[[0, 2, 20, 200], ['country', 'province', 'region_1', 'region_2']]; df

    country           province                region_1           region_2
0     Italy  Sicily & Sardinia                    Etna                NaN
2        US             Oregon       Willamette Valley  Willamette Valley
20       US           Virginia                Virginia                NaN
200   Italy            Tuscany  Brunello di Montalcino                NaN

**Question 10.** Create a variable `df` containing the `country` and `variety` columns of the first 100 records. Show the shape of `df`.

In [0]:
# TODO: your code here

In [0]:
df = reviews.loc[range(100), ['country', 'variety']]; df.shape

(100, 2)

**Question 11.** Create a DataFrame `france_wines` containing reviews of wines made in `France`. Show the shape of `france_wines`.

In [0]:
# TODO: your code here

In [0]:
france_wines = reviews[reviews.country == 'France']; france_wines.shape

(22093, 13)

**Question 12.** Create a DataFrame `top_north_america_wines` containing all reviews with at least 95 points (out of 100) for wines from US or Canada. Show the shape of `top_north_america_wines`.

In [0]:
# TODO: your code here

In [0]:
top_north_america_wines = reviews[(reviews.points >= 95) & (reviews.country.isin(['US', 'Canada']))]; top_north_america_wines.shape

(993, 13)

**Question 13.** What is the minimum value of the points column in the reviews DataFrame?

In [0]:
# TODO: your code here

In [0]:
reviews.points.min()

80

**Question 14.** What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [0]:
# TODO: your code here

In [0]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

**Question 15.** How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country. Show the first 10 rows of `reviews_per_country`.

In [0]:
# TODO: your code here

In [0]:
reviews_per_country = reviews.country.value_counts(); reviews_per_country.head(10)

US           54504
France       22093
Italy        19540
Spain         6645
Portugal      5691
Chile         4472
Argentina     3800
Austria       3345
Australia     2329
Germany       2165
Name: country, dtype: int64

**Question 16.** Create variable `centered_price` containing a version of the `price` column with the mean price subtracted. Show the first 10 rows of `centered_price`.

In [0]:
# TODO: your code here

In [0]:
centered_price = reviews.price - reviews.price.mean(); centered_price.head(10)

0          NaN
1   -20.363389
2   -21.363389
3   -22.363389
4    29.636611
5   -20.363389
6   -19.363389
7   -11.363389
8   -23.363389
9    -8.363389
Name: price, dtype: float64

**Question 17.** Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset. Show the value of `bargain_wine`.

In [0]:
# TODO: your code here

In [0]:
bargain_wine = reviews.iloc[(reviews.points / reviews.price).idxmax()]['title']; bargain_wine

'Bandit NV Merlot (California)'

**Question 18.** Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the description column in the dataset. Show the content of `descriptor_counts`.

In [0]:
# TODO: your code here

In [0]:
reviews['tropical'] = reviews.description.apply(lambda x: True if 'tropical' in x else False)
reviews['fruity'] = reviews.description.apply(lambda x: True if 'fruity' in x else False)
descriptor_counts = reviews[['tropical', 'fruity']].sum(); descriptor_counts

tropical    3607
fruity      9090
dtype: int64

**Question 19.** Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [0]:
# TODO: your code here

In [0]:
n_missing_prices = reviews.price.isnull().sum(); n_missing_prices

8996

**Question 20.** What are the most common wine-producing regions? Create a `Series` counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order. Show the first 10 rows of the series.

In [0]:
# TODO: your code here

In [0]:
reviews_per_region = reviews.region_1.fillna('Unkown').value_counts().sort_values(ascending=False); reviews_per_region.head(10)

Unkown                  21247
Napa Valley              4480
Columbia Valley (WA)     4124
Russian River Valley     3091
California               2629
Paso Robles              2350
Willamette Valley        2301
Mendoza                  2301
Alsace                   2163
Champagne                1613
Name: region_1, dtype: int64

**Question 21.** Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote. Show the series.

In [0]:
# TODO: your code here

In [0]:
reviews_written = reviews.groupby('taster_twitter_handle').size(); reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

**Question 22.** What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, Descending (so that `3300.0` dollars is at the top and `4.0` dollars is at the bottom). Show the first 5 rows of the series.

In [0]:
# TODO: your code here

In [0]:
best_rating_per_price = reviews.groupby('price').points.max().sort_index(ascending=False); best_rating_per_price.head()

price
3300.0    88
2500.0    96
2013.0    91
2000.0    97
1900.0    98
Name: points, dtype: int64

**Question 23.** What are the minimum, maximum and median prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min`, `max` and `medium` values thereof. Show the 5 rows of the dataframe.

In [0]:
# TODO: your code here

In [0]:
price_describe = reviews.groupby('variety').price.agg(['min', 'max', 'median']); price_describe.head()

              min    max  median
variety
Abouriou     15.0   75.0    15.0
Agiorgitiko  10.0   66.0    20.0
Aglianico     6.0  180.0    33.5
Aidani       27.0   27.0    27.0
Airen         8.0   10.0     9.0

**Question 24.** What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties). Show the 5 rows of the dataframe.

In [0]:
# TODO: your code here

In [0]:
sorted_varieties = price_describe.sort_values(['min', 'max'],ascending=False); sorted_varieties.head()

                    min    max  median
variety
Ramisco           495.0  495.0   495.0
Terrantez         236.0  236.0   236.0
Francisa          160.0  160.0   160.0
Rosenmuskateller  150.0  150.0   150.0
Tinta Negra Mole  112.0  112.0   112.0

**Question 25.** Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Show the first 5 rows of the series (Hint: name of reviewer is in `taster_name`.)

In [0]:
# TODO: your code here

In [0]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean(); reviewer_mean_ratings.head()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Name: points, dtype: float64

**Question 26.** What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count. Show the first 10 rows of the series.

In [0]:
# TODO: your code here

In [0]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False); country_variety_counts.head(10)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
US       Syrah                       3244
         Red Blend                   2972
France   Chardonnay                  2808
Italy    Nebbiolo                    2736
US       Zinfandel                   2711
dtype: int64

**Question 27.** `region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively. Show the first 5 rows of the renamed dataframe.

In [0]:
# TODO: your code here

In [0]:
renamed = reviews.rename(columns={'region_1':'region', 'region_2':'locale'}); renamed.head()

,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks